$gray: rgb(180, 180, 180);
$white: rgb(220, 220, 220);
$background-color-gray: rgb(19, 19, 21);
$background-color-black: rgb(9, 9, 10);
$border-color: rgb(47, 49, 51);

%top-bottom-borders{
    border-bottom: 2px $border-color solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-top: 2px $border-color solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

%full-borders{
    border: 2px $border-color solid;
    border-radius: 20px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: $background-color-black;
    height: auto;
}


header{
    background-color: rgba($color: $background-color-gray, $alpha: 1);
    z-index: 2;

    font-size: 24px;
    font-weight: 500;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    border-bottom: 2px $border-color solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    
    ul{
        display: flex;
        align-items: center;

        li{
            margin-left: 40px;

            .logo{
                font-size: 50px;
                margin-left: -40px;
                font-weight: 700;
                color: $white;

            }
        }
    }
}

main{
    margin-top: 130px;
    height: auto;
}



p, label{
    color: $gray;
}

h{
    &2{
        color: $white;
        font-size: 40px;
    }
    &3{
        color: $gray;
        font-size: 30px;
    }
}

a{
    text-decoration: none;
    &:link{
        color: $gray;
    }
    &:visited{
        color: $gray;
    }
    &:hover{
        color: $white;
        border-bottom: 2px $gray solid;
    }
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    &:link{
        color: $gray;
    }
    &:visited{
        color: $gray;
    }
    &:hover{
        color: $white;
        border-bottom: 2px $gray solid;
    }
}

button {
    flex: 0 0 auto;
    margin: 0 10px;
    cursor: pointer;
    color: $gray;
    background: $background-color-gray;
    border: 2px $border-color solid;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: bold;
    transition: all .2s ease;
}
button:hover {
    color: $white;
    background: $background-color-black;
    border: 2px $gray solid;
}

form{
    margin-top: 130px;
}

.borders-section{
    margin-top: -10px;
    padding-top: 15px;
    padding-bottom: 40px;
    height: auto;

    background-color: $background-color-gray;

    box-sizing: border-box;
    overflow: hidden;
    @extend %top-bottom-borders;
}

.films-list{
    display: flex;
    flex-wrap: wrap;
    img{
        width: 262px;
        margin-bottom: 25px;
        margin-right: 25px;
        @extend %full-borders
    }
    a{
        text-decoration: none;
        &:hover{
            border-bottom: none;
        }
    }
}

.container{
    margin: auto;
    width: 1750px;
}

.video{
    margin: 0 auto 0;
    width: 100%;
    height: 700px;
    box-sizing: border-box;
}

.auth_page{
    margin-top: 130px;
    margin: auto;
    width: 300px;
    color: $white;
}

.auth_buttons{
    margin-top: 130px;
    margin-left: -10px;
}

.button{
    float: left;
    color: $gray;
    background: $background-color-gray;
    border: 2px $border-color solid;
    border-radius: 20px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0 10px;
    transition: all .2s ease;
        &:hover {
        color: $white;
        background: $background-color-black;
        border: 2px $gray solid;
    }
}

.carousel-3d {
    padding: 20px;
    -webkit-perspective: 500px;
    perspective: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    a{
        &:hover{
            border: none;
        }
    }
}
.carousel-3d > * {
    flex: 0 0 auto;
}
.carousel-3d figure {
    margin: 0;
    width: 55%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.carousel-3d-border{
    @extend %full-borders
}
.carousel-3d figure img,
.carousel-3d figure div {
    width: 100%;
    box-sizing: border-box;
    padding: 0;


}
.carousel-3d figure div:not(:first-of-type),
.carousel-3d figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}
.carousel-3d nav {
    display: flex;
    justify-content: center;
    margin: 30px 0 30px;
}

.actors-list{
    display: flex;
    flex-wrap: wrap;
}

.image-block{
    width: 500px;
    margin-bottom: 50px;
    img{
        width: 400px;
        border: 2px $border-color solid;
        border-radius: 20px;
    }
}

.actor{
    margin-right: 30px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actor-img{
    width: 150px;
    border: 2px $border-color solid;
    border-radius: 20px;

}

.description{
    display: flex;
    flex-direction: column;
    word-wrap: wrap;
    width: 800px;
}

.comments{
    margin-top: 70px;
    margin-bottom: 70px;
}

.review{
    display: flex;
    width: 800px;
    p{
        font-weight: bold;
        font-size: 20px;
        margin-right: 20px;
    }

}