{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div style="margin-top: 130px; padding-top: 40px;" class="borders-section">
      <div class="container">
          <div style="display: flex;">

              <div class="image-block">
                  <img src="{{ movie.poster.url }}" alt="">
              </div>

              <div class="description">
                  <h2 style="margin-top: 0px; margin-bottom: 25px;">{{ movie.title }}</h2>

                  <p>{{ movie.description }}</p>

                  <p>Год производства: {{ movie.year }}</p>

                  <p>Жанр:
                      {% for genre in movie.genres.all %}
                      {{ genre.name }}
                      {% endfor %}
                  </p>

                  <p>Страна: {{ movie.country }}</p>

                  <p>Бюджет: {{ movie.budget }}$</p>

                  <p>Сборы в США: {{ movie.fees_in_usa }}$</p>

                  <p>Сборы в мире: {{ movie.fees_in_world }}</p>
              </div>
          </div>
      </div>
  </div>

  <div class="video">
      {% if user.is_authenticated %}
      <video controls width="100%" height="700px">
          <source src="{{ movie.video.url }}">
      </video>
      {% else %}
      <h3 style=" text-align: center; padding-top: 300px;">Для доступа к фильму войдите в аккаунт</h3>
      {% endif %}
  </div>

  <div style="padding-top: 40px;" class="borders-section">
      <div class="container">
          <h3>Режиссёры:</h3>

          <div class="actors-list">
              {% for director in movie.directors.all %}
              <div class="actor">
                  <img class="actor-img" src="{{ director.image.url }}">
                  <p>
                      {{ director.name }}
                  </p>
              </div>
              {% endfor %}
          </div>

          <h3>Актёры:</h3>

          <div class="actors-list">
              {% for actor in movie.actors.all %}
              <div class="actor">
                  <img class="actor-img" src="{{ actor.image.url }}">
                  <p>
                      {{ actor.name }}
                  </p>
              </div>
              {% endfor %}
          </div>
      </div>
  </div>

  <div class="container">
      <div class="comments">
          <h3>Написать комментарий:</h3>

          {% if user.is_authenticated %}

          <form style="margin-top: 50px; margin-bottom : 50px;" action="{% url 'add_review' movie.id %}" method="post">
              {% csrf_token %}
              <textarea style="margin-bottom: 20px;" rows="8" cols="60" name="text" required="" placeholder="Текст комментария..."></textarea>
              <div style="display: flex;">
                  <div style="margin-right: 40px;">
                      <input type="text" name="name" required="" value="{{ user.username }}" readonly>
                  </div>
              </div>
              <button style="margin-top: 20px; margin-left: 0px;" type="submit">Отправить</button>
          </form>

          {% else %}
          <h3>Чтобы оставить комментарий войдите в аккаунт</h3>
          {% endif %}
          <h3>Комментарии:</h3>
          {% for review in movie.reviews_set.all %}
          <div class="reviews">
              <div class="review" style="flex-direction: column; margin-bottom: 20px;">
                  <p style="margin-bottom: 0px; color: rgb(220, 220, 220); "> {{ review.name }}: </p>
                  <p style="margin-bottom: 0px; ">{{ review.text }}</p>
                  {% if review.name == user.username %}
                      <p>
                          <a href="{% url 'review_edit' review.pk %}">Редактировать</a> |
                          <a href="{% url 'review_delete' review.pk %}">Удалить</a>
                      </p>
                  {% endif %}
              </div>
          </div>

          {% endfor %}
      </div>
  </div>


{% endblock %}