{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main>

    <div class="carousel-3d" data-gap="20" data-bfc>
        <figure>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/1.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/2.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/3.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/4.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/5.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/6.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/7.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/8.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/9.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/10.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/11.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/12.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/1.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/2.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/3.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/4.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/5.png' %}"></a></div>
            <div><a href="#"><img class="carousel-3d-border" src="{% static 'banner/6.png' %}"></a></div>
        </figure>
        <nav>
            <button class="nav prev">Назад</button>
            <button class="nav next">Вперед</button>
        </nav>
    </div>

    <div class="borders-section">

        <div class="container">
            <h3>Все фильмы</h3>
            <ul class="films-list">
                {% for movie in object_list %}
                <li><a href="{% url 'detail' movie.pk %}"><img style="width: 260px;" src="{{ movie.poster }}"></a></li>
                {% endfor %}
            </ul>
        </div>

    </div>

  </main>

{% endblock %}