{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main>

    <div class="carousel-3d" data-gap="20" data-bfc>
        <figure>
            {% for movie in object_list %}
                {% if movie.promo == True %}
                    <div><a href="{% url 'detail' movie.pk %}"><img class="carousel-3d-border" src="{{ movie.banner }}"></a></div>yyyyy
                {% endif %}
            {% endfor %}
        </figure>
        <nav>
            <button class="nav prev">Назад</button>
            <button class="nav next">Вперед</button>
        </nav>
    </div>

    <div class="borders-section">

        <div class="container">
            <h3>Все фильмы</h3>
            <ul class="films-list">
                {% for movie in object_list %}
                <li><a href="{% url 'detail' movie.pk %}"><img src="{{ movie.poster }}"></a></li>
                {% endfor %}
            </ul>
        </div>

    </div>

  </main>

{% endblock %}