.borders-section {
  border-bottom: 2px #2f3133 solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 2px #2f3133 solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.films-list img, .carousel-3d-border {
  border: 2px #2f3133 solid;
  border-radius: 20px; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #09090a;
  height: auto; }

header {
  background-color: #131315;
  z-index: 2;
  font-size: 24px;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px #2f3133 solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }
  header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; }
  header ul {
    display: flex;
    align-items: center; }
    header ul li {
      margin-left: 40px; }
      header ul li .logo {
        font-size: 50px;
        margin-left: -40px;
        font-weight: 700;
        color: gainsboro; }

main {
  margin-top: 130px;
  height: auto; }

p, label {
  color: #b4b4b4; }

h2 {
  color: gainsboro;
  font-size: 40px; }
h3 {
  color: #b4b4b4;
  font-size: 30px; }

a {
  text-decoration: none; }
  a:link {
    color: #b4b4b4; }
  a:visited {
    color: #b4b4b4; }
  a:hover {
    color: gainsboro;
    border-bottom: 2px #b4b4b4 solid; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:link {
    color: #b4b4b4; }
  a:visited {
    color: #b4b4b4; }
  a:hover {
    color: gainsboro;
    border-bottom: 2px #b4b4b4 solid; }

button {
  flex: 0 0 auto;
  margin: 0 10px;
  cursor: pointer;
  color: #b4b4b4;
  background: #131315;
  border: 2px #2f3133 solid;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  transition: all .2s ease; }

button:hover {
  color: gainsboro;
  background: #09090a;
  border: 2px #b4b4b4 solid; }

form {
  margin-top: 130px; }

.borders-section {
  margin-top: -10px;
  padding-top: 15px;
  padding-bottom: 40px;
  height: auto;
  background-color: #131315;
  box-sizing: border-box;
  overflow: hidden; }

.films-list {
  display: flex;
  flex-wrap: wrap; }
  .films-list img {
    width: 200px;
    margin-bottom: 25px;
    margin-right: 25px; }
  .films-list a {
    text-decoration: none; }
    .films-list a:hover {
      border-bottom: none; }

.container {
  margin: auto;
  width: 1650px; }

.video {
  margin: 0 auto 0;
  width: 100%;
  height: 700px;
  box-sizing: border-box; }

.auth_page {
  margin-top: 130px;
  margin: auto;
  width: 300px;
  color: gainsboro; }

.auth_buttons {
  margin-top: 130px;
  margin-left: -10px; }

.button {
  float: left;
  color: #b4b4b4;
  background: #131315;
  border: 2px #2f3133 solid;
  border-radius: 20px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0 10px;
  transition: all .2s ease; }
  .button:hover {
    color: gainsboro;
    background: #09090a;
    border: 2px #b4b4b4 solid; }

.carousel-3d {
  padding: 20px;
  -webkit-perspective: 500px;
  perspective: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }
  .carousel-3d a:hover {
    border: none; }

.carousel-3d > * {
  flex: 0 0 auto; }

.carousel-3d figure {
  margin: 0;
  width: 55%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }

.carousel-3d figure img,
.carousel-3d figure div {
  width: 100%;
  box-sizing: border-box;
  padding: 0; }

.carousel-3d figure div:not(:first-of-type),
.carousel-3d figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0; }

.carousel-3d nav {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px; }

.actors-list {
  display: flex;
  flex-wrap: wrap; }

.image-block {
  width: 500px;
  margin-bottom: 50px; }
  .image-block img {
    width: 400px;
    border: 2px #2f3133 solid;
    border-radius: 20px; }

.actor {
  margin-right: 30px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.actor-img {
  width: 150px;
  border: 2px #2f3133 solid;
  border-radius: 20px; }

.description {
  display: flex;
  flex-direction: column;
  word-wrap: wrap;
  width: 800px; }

.comments {
  margin-top: 70px;
  margin-bottom: 70px; }

.reviews {
  display: flex;
  border: 2px #2f3133 solid;
  border-radius: 20px;
  width: 800px;
  padding-left: 20px;
  margin-bottom: 20px; }

.review {
  display: flex;
  max-width: 800px; }
  .review p {
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px; }
  .review p:nth-child(2) {
    word-break: break-all; }
